@model List<meal>
@{
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@*
<table class="table">
    <thead>
        <tr>
            <td>
                Image
            </td>
            <td>
                Post ID
            </td>
            <td>
                Title
            </td>
            @*<td>
                Created at
            </td>
           <td>
                Category
            </td>*@
          @*  <td>
                Tags
            </td>*@
        >@*</tr
    </thead>
    <tbody>
        @foreach (meal item in Model)
        {
            <tr>
                <td>
                    <img style="width:50px;height:50px; object-fit:cover; border-radius:50%;" src="~/Images/@item.ImageName" />
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>*@
                @* <td>
                    @item.CreatedAt.ToString("dd/MM/yyyy")
                </td>
               <td>
                  @item.Category.Name
                </td>*@
             @*   <td>
                    @foreach (var tag in item.PostTags)
                    {
                        @tag.Tag.Name
                    }
                </td>*@
@*
            </tr>
        }
    </tbody>
</table>
*@




<main>
    <div class="">
        <h1 class="mt-4">الوجبات</h1>
        <ol class="breadcrumb mb-4">
                         <li class="breadcrumb-item"> </a></li>
                    <li class="breadcrumb-item active"><a href="index.html">لوحة التحكم</a></li>
                    <li class="">الوجبات</li>
        </ol>
                <div class="d-flex justify-content-end m-5">
            <a class="btn btn-primary" asp-action="Add" asp-controller="Meals">أضافة وجبة</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
@*                DataTable Example
*@            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                Image
                            </td>
                            <td>
                                Post ID
                            </td>
                            <td>
                                Title
                            </td>
                           </tr
                            </thead>
                            <tbody>

             @foreach (meal item in Model)
             {
            <tr>
                <td>
                    <img style="width:50px;height:50px; object-fit:cover; border-radius:50%;" src="~/Images/@item.ImageName" />
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                @* <td>
                    @item.CreatedAt.ToString("dd/MM/yyyy")
                </td>
               <td>
                  @item.Category.Name
                </td>*@
             @*   <td>
                    @foreach (var tag in item.PostTags)
                    {
                        @tag.Tag.Name
                    }
                </td>*@

            </tr>
        }
    </tbody>
</table>
            </div>
        </div>
    </div>
</main>
